{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
    body {
        background-image: url("{% static 'images/Golf-Analytics logo.png' %}");
        background-size: cover;
    }

    .centered-text {
      text-align: center;
      color: white;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
       white-space: nowrap;
}
</style>

{% endblock %}
{% block content %}
<p class="centered-text">Golf-Analytics is a platform that helps golf athletes take their training to the next level!</p>


{% endblock %}