{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
{% csrf_token %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  function startListening() {
      $('#listening_text_area').show();
      $('#swings_distance_area').text('');
      $('#swings_speed_area').text('');
      var csrftoken = $("[name=csrfmiddlewaretoken]").val();
      $.ajax({
          type: 'POST',
          url: "{% url 'swing_listener' %}",
          headers: {'X-CSRFToken': csrftoken},
          success: function (response) {
              $('#listening_text_area').hide();
              $('#swings_distance_area').text('Swing distance: ' + response.distance + ' meters.');
              $('#swings_speed_area').text('Swing speed: ' + response.swing_speed + ' meters per second.');
          }
      });
  }
</script>
<div style="text-align: center; padding-top: 30px;">
  <button id="record_swing_btn" class="btn btn-warning" onclick="startListening()" style="display: block; margin: 0 auto 10px;">Record swing</button>
  <p id="listening_text_area" style="display: none; margin-bottom: 10px;">Waiting for swing...</p>
  <p id="swings_distance_area" style="display: block; margin-bottom: 10px; font-weight: bold; font-size: 20px;"></p>
  <p id="swings_speed_area" style="display: block; margin-bottom: 10px; font-weight: bold; font-size: 20px;"></p>
</div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}