{% extends "base.html" %}
{% load static %}

{% block head %}
<script type="text/javascript" src="https://unpkg.com/browse/htmx.org@1.9.6/dist/htmx.min.js" defer></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/table_style.css' %}">
{% endblock %}

{% load render_table from django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h1 style="padding: 20px;">Swings table</h1>

    {# Progress indicator #}
    <div class="progress">
        <div class="indeterminate"></div>
    </div>

    {# The actual table #}
    {% render_table table %}

{% endblock %}